// Основные цвета
$primary-color: #ff5733; // Ярко-красный
$secondary-color: #ffc300; // Ярко-оранжевый
$accent-color: #2ecc71; // Зеленый

// Нейтральные цвета
$background-color: #ffffff; // Белый
$text-primary-color: #333333; // Темно-серый
$text-secondary-color: #666666; // Серый
$border-color: #e0e0e0; // Светло-серый

// Цвета кнопок
$button-primary-bg: $primary-color; // Фон основной кнопки
$button-primary-text: $background-color; // Текст основной кнопки
$button-secondary-bg: $secondary-color; // Фон вторичной кнопки
$button-secondary-text: $background-color; // Текст вторичной кнопки

// Цвета состояний
$success-color: #2ecc71; // Успешное действие
$error-color: #e74c3c; // Ошибка
$warning-color: #ffa500; // Предупреждение
$info-color: #3498db; // Информация

// Цвета фона элементов
$card-background: #fafafa; // Карточки товаров
$modal-background: rgba(0, 0, 0, 0.5); // Фон модального окна

$primary-text-color: white;

$primary-boder-radius: 12px;
