@use "/src/styles/colors.scss" as *;

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: $primary-boder-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
