/* Welcome Page Styles */

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 24px;
    text-align: center;
}

.welcome-header h1 {
    font-size: 2.5rem;
    color: #343a40;
}

.welcome-content p {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 30px;
}

.welcome-buttons {
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.welcome-footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.9rem;
    color: #6c757d;
}
