/* Footer Styles */

.footer {
  background: #343a40;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  margin-top: 36px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-content {
  font-size: 0.9rem;
}
